@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
body {
    color: #995232;
    /* background: #f5f5f5; */
    background-image: url('./assets/images/b8.jpg');
    background-size:cover;
            /* background-position: center;
            background-repeat: no-repeat; */
            font-family: 'Varela Round', sans-serif;
            font-size: 13px;
            Cursor: url("./assets/images/n7la.png"),auto;
        }